.task {
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #555;
}

.header {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header p {
    margin: 0;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.iconRotated {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.statusBtn {
    font-size: 0.7em;
    color: #ccc;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
}

.arrowIcon {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.details {
    font-size: 0.7em;
    color: #ccc;
    background-color: #555;
}

.details p {
    margin: 0;
    margin-top: 5px;
    font-size: 1.2em;
    text-align: left;
}