.task {
    color: white;
    cursor: pointer;
}

.header {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.header>p {
    margin: 0;
}

.header>span {
    font-size: 0.6em;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.iconRotated {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}