.navbar {
    color: white;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    display: flex;
    flex-direction: row;
}

.edit-btn>button {
    background-color: transparent;
    border: 1px solid #555;
    padding: 10px 10px;
    color: white;
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2px;
    margin-left: 4px;
    display: flex;
    align-items: center;
}