.header {
    height: 60px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.homeButton {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    display: inline-flex;
    align-items: center;
}

.homeIcon {
    color: white;
    font-size: 1.5rem;
    padding: 4px 8px;
    transition: .3s;
}

.p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
}

.logOut {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.homeButton:hover {
    background-color: #262626;
    transform: scale(0.85);
}

.homeButton:hover .homeIcon {
    transform: scale(0.9);
}

.P:hover {
    color-interpolation-filters: auto;
}

.logOut:hover {
    background-color: #262626;
    transform: scale(0.9);
}